{{define "title"}}Engine Match{{end}}

{{define "main"}}
    
    <p id="match-info-display"></p>
    <div id="promotion-window" class="promotion-window">
        <div class="promotion-window-content">
            <p>Choose piece to promote to:</p>
            <!-- TODO: change buttons to svg of piece -->
            <button id="promote-to-queen">Queen</button>
            <button id="promote-to-rook">Rook</button>
            <button id="promote-to-bishop">Bishop</button>
            <button id="promote-to-knight">Knight</button>
        </div>
    </div>
    
    <div>opponent clock: <span id="opponent-clock"></span></div>
    <div class="container">
        <div id="gameboard"></div>
    </div>
    <div>player clock: <span id="player-clock"></span></div>
    <p id="turn-display">It is <span id="player"></span>'s turn.</p>
    <p id="info-display"></p>
   
    <script src="/static/js/pieces.js"></script>
    <script src="/static/js/chessboard.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/app.js"></script>
{{end}}