{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Key:</label>
        {{with .Form.FieldErrors.key}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='key' placeholder="'WelcomeToBadChess'" name='key'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
{{end}}