{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>bad-chess</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/css/chess.css'>
        <link rel='shortcut icon' href='/static/img/favicon.png' type='image/png'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>bad-chess</a></h1>
        </header>
        {{template "nav" .}}
        <main>
            {{with .Flash}}
                <div class='flash'>{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        <footer>
            Powered by <a href='https://golang.org/'>Go</a> and the worst JavaScript you've ever seen: <a href='https://github.com/michaelgov-ctrl/bad-chess'>Github</a>
        </footer>
    </body>
</html>
{{end}}
