{
        email badchessmgmt@gmail.com
}

http://bad-chess.com {
        respond /metrics/* "Not Permitted" 403
        reverse_proxy localhost:{{ webserver_port }}  {
                stream_close_delay 5m
        }
}