{
        email badchessmgmt@gmail.com
}

bad-chess.com {
        respond /metrics/* "Not Permitted" 403
        reverse_proxy localhost:{{ webserver_port }}  {
                stream_timeout 24h
                stream_close_delay 5m
        }
}