apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    jsonData:
      tlsSkipVerify: false
      httpMethod: POST
      cacheLevel: 'low'
      incrementalQuerying: true
      disableRecordingRules: false
      prometheusType: 'choose'
      manageAlerts: true
      minInterval: "15s"
      queryTimeout: "30s"
      disableMetricsLookup: false
      queryEditor: 'builder'
      useSeriesAPI: true
      exemplars: true
    secureJsonData:
      tlsAuth: false
      tlsAuthWithCACert: false
    version: 1
    editable: true   