global:
  scrape_interval:     30s # Default is every 1 minute.
  evaluation_interval: 30s # Default is every 1 minute.

scrape_configs:
  - job_name: 'bad-chess'
    scrape_interval: 15s
    scrape_timeout: 15s
    static_configs:
      - targets: ['localhost:{{ webserver_port }}']

  - job_name: node
    static_configs:
      - targets: ['localhost:9100']