.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
}

/*
TODO: figure out how to place these appropriately
*/
#opponent-clock {
    position: absolute;
    top: 10% auto;
    right: 10% auto;
}

#player-clock {
    position: absolute;
    bottom: 10% auto;
    right: 10% auto;
}

.square {
    width: 50px;
    height: 50px;
    position: relative;
}

.light-square {
    background-color: #f0d9b5;
}

.dark-square {
    background-color: #b58863;
}

.square svg {
    height: 48px;
    width: 48px;
    margin: 2px;
    position: relative;
    z-index: -9;
}

.light-piece path {
    fill: #cccccc;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 3;
}

.dark-piece path {
    fill:#323232 ;
    fill-opacity:1 ;
    stroke:#000000 ;
    stroke-width:3 ;
    stroke-opacity:1 ;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 20;
}

.promotion-window {
    display: none;
    position: relative;
    background-color: wheat;
    z-index: 100;
}

.promotion-window-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: wheat;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.promotion-window-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.promotion-window-content button:hover {
    background: #0056b3;
}

